/* FIX Bootstrap collapse hidden by Tailwind */
/* Fix Tailwind overriding Bootstrap collapse */
.navbar-collapse.collapse {
    display: block !important;
    opacity: 1 !important;
    visibility: visible !important;
    height: auto !important;
}

/* Mobile collapse animation */
@media (max-width: 991px) {
    #navbarNav {
        transition: all 0.3s ease-in-out !important;
    }
}



@tailwind base;
@tailwind components;
@tailwind utilities;
